<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MercadoLiebre - Franco Novara</title>
    <link href="css/styles.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
</head>
<body>

    <!-- Encabezado -->
    <div class="encabezado-index">
    <header class="header">
        <img class = "mercado-liebre-logo" src = "/images/logo-mercado-liebre.svg", alt = "logo de Mercado Liebre">
        <input type="search" name="buscador" placeholder="Buscar productos, marcas y más.">
        <input type="submit" value="B">
        <p><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</p>
    </header>
    <nav>

        <!-- Barra de navegación -->
        <ul>
            <li><a href="/ofertas">Ofertas</a></li>
            <li><a href="/tiendas-oficiales">Tiendas Oficiales</a></li>
            <li><a href="/vender">Vender</a></li>
            <li><a href="/ayuda"> Ayuda</a></li>
        </ul>
        <ul>
            <li><a href="/register">Creá tu cuenta</a><i class="far fa-address-card"></i></li>
            <li><a href="/login">Ingresá</a><i class="fas fa-sign-in-alt"></i></li>
            <li>Mis compras<i class="fas fa-shopping-basket"></i></li>
        </ul>
    </nav>
</div>
    <img class = "banner-nav" src="/images/img-home-banner.jpg" alt="banner de ofertas">

    <!-- Productos -->

    <div class = "h2-div-visitas"><h2>Basado en tu última visita</h2></div>
    <main class="main">
    <div>
        <img src="/images/img-cafetera-moulinex.jpg" alt="Foto cafetera moulinex">
        <p>$6.770 <br>
        40% OFF </p>
        <h3>Cafetera Moulinex Dolce Gusto Lorem ipsum, dolor sit amet.</h3>
    </div>
    <div>
        <img src="/images/img-macbook-pro-2019.jpg" alt="Foto Macbook pro">
        <p>$230.000 <br>
        20% OFF </p>
        <h3>Macbook Pro 2019 Lorem ipsum, dolor sit amet.</h3>
    </div>
    <div>
        <img src="/images/img-samsung-galaxy-s10.jpg" alt="Foto Samsung Galaxy">
        <p>$70.500 <br>
        15% OFF </p>
        <h3>Teléfono móvil Samsung Galaxy S10 Lorem ipsum, dolor sit amet.</h3>
    </div>
    <div>
        <img src="/images/img-tv-samsung-smart.jpg" alt="Foto SmartTV Samsung 43">
        <p>$34.000 <br>
        5% OFF </p>
        <h3>SmartTv Samsung 43" Lorem ipsum, dolor sit amet.</h3>
    </div>
    
    <div class = "h2-div-ofertas"><h2>Ofertas</h2></div>
    <div>
        <img src="/images/img-cafetera-moulinex.jpg" alt="Foto cafetera moulinex">
        <p>$6.770 <br>
        40% OFF </p>
        <h3>Cafetera Moulinex Dolce Gusto Lorem ipsum, dolor sit amet.</h3>
    </div>
    <div>
        <img src="/images/img-macbook-pro-2019.jpg" alt="Foto Macbook pro">
        <p>$230.000 <br>
        20% OFF </p>
        <h3>Macbook Pro 2019 Lorem ipsum, dolor sit amet.</h3>
    </div>
    <div>
        <img src="/images/img-samsung-galaxy-s10.jpg" alt="Foto Samsung Galaxy">
        <p>$70.500 <br>
        15% OFF </p>
        <h3>Teléfono móvil Samsung Galaxy S10 Lorem ipsum, dolor sit amet.</h3>
    </div>
    <div>
        <img src="/images/img-tv-samsung-smart.jpg" alt="Foto SmartTV Samsung 43">
        <p>$34.000 <br>
        5% OFF </p>
        <h3>SmartTv Samsung 43" Lorem ipsum, dolor sit amet.</h3>
    </div>
</main>

<!-- Footer -->

    <footer class="footer">
        <div><h3>Pagá con tarjeta o en efectivo</h3>
            Con MercadoLiebreCash tenés cuotas sin interés con tarjeta o efectivoen puntos de
            pago. ¡Y siempre es seguro!
        </div>
        <div><h3>Envío gratis desde los $ 2.500</h3>
            Solo por estar registrad@ en MercadoLiebre tenés envíos gratis en miles de
            productos. Es un beneficio de MercadoPuntos.
        </div>
        <div>
            <h3>Seguridad, de principio a fin</h3>
            ¿No te gusta? ¡Devolvelo! En MercadoLiebre no hay nada que no puedas hacer
            porque estás siempre protegid@.
        </div><br>
        <div>Copyright © 1999-2019 MercadoLiebre S.R.L.</div>
    </footer> 
</body>
</html>