<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MercadoLiebre - Franco Novara</title>
    <link href="css/styles.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
</head>
<body>

    <!-- Encabezado -->
    <header class="header">
        <img class = "mercado-liebre-logo" src = "/images/logo-mercado-liebre.svg", alt = "logo de Mercado Liebre">

        <div class = "header-div-busqueda">
        <input class= "barra-busqueda" type="search" name="buscador" placeholder="Buscar productos, marcas y más."><i
        class="icono-busqueda fas fa-search"
    ></i>
        </div>
        
        <p class = "descripcion-header"><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</p>

        <!-- Barra de navegación -->
<nav>
    <div class = "barra-navegacion">
        <ul>
            <li><a href="/ofertas">Ofertas</a></li>
            <li><a href="/tiendas-oficiales">Tiendas Oficiales</a></li>
            <li><a href="/vender">Vender</a></li>
            <li><a href="/ayuda"> Ayuda</a></li>
        </ul>
        <ul>
            <li><a href="/register">Creá tu cuenta</a><i class="far fa-address-card"></i></li>
            <li><a href="/login">Ingresá</a><i class="fas fa-sign-in-alt"></i></li>
            <li>Mis compras<i class="fas fa-shopping-basket"></i></li>
        </ul>
    </div>
</nav>

<div class = "boton-menu">
    <i class="header-menu fas fa-bars"></i>
</div>

</header>

<section class="banner">
    <img src="images/img-home-banner.jpg" alt="Cobra con todas las tarjetas" />
</section>

    <!-- Productos -->

    <h2 class= "title-visita">Basado en tu última visita</h2>
    <main class="main">
    <section class = "ultima-visita">
<article class = "producto-main">
        <img src="/images/img-cafetera-moulinex.jpg" alt="Foto cafetera moulinex">
        <div class = "contenedor-detalles-producto">
        <div class="icono-truck"><i class="fas fa-truck"></i></div>
        <p>$6.770</p>
            <p class = "descuento-productos">40% OFF</p>
        <h4>Cafetera Moulinex Dolce Gusto</h4>
        </div>
</article>

<article class = "producto-main">
        <img src="/images/img-macbook-pro-2019.jpg" alt="Foto Macbook pro">
        <div class = "contenedor-detalles-producto">
        <div class="icono-truck"><i class="fas fa-truck"></i></div>
        <p>$230.000</p>
        <p class = "descuento-productos">20% OFF</p>
        <h4>Macbook Pro 2019</h4>
    </div>
</article>

<article class = "producto-main">
        <img src="/images/img-samsung-galaxy-s10.jpg" alt="Foto Samsung Galaxy">
        <div class = "contenedor-detalles-producto">
        <div class="icono-truck"><i class="fas fa-truck"></i></div>
        <p>$70.500</p>
        <p class = "descuento-productos">15% OFF</p>
        <h4>Teléfono móvil Samsung Galaxy S10</h4>
    </div>
</article>

<article class = "producto-main">
        <img src="/images/img-tv-samsung-smart.jpg" alt="Foto SmartTV Samsung 43">
        <div class = "contenedor-detalles-producto">
        <div class="icono-truck"><i class="fas fa-truck"></i></div>
        <p>$34.000</p>
        <p class = "descuento-productos">5% OFF</p>
        <h4>SmartTv Samsung 43"</h4>
    </div>
</article>
</section>
    
<section class = "ofertas">
    <h2 class = "title-ofertas">Ofertas</h2>

<article class = "producto-main">
        <img src="/images/img-cafetera-moulinex.jpg" alt="Foto cafetera moulinex">
        <div class = "contenedor-detalles-producto">
        <div class="icono-truck"><i class="fas fa-truck"></i></div>
        <p>$6.770</p>
        <p class = "descuento-productos">40% OFF</p>
        <h4>Cafetera Moulinex Dolce Gusto Lorem</h4>
    </div>
</article>

<article class = "producto-main">
        <img src="/images/img-macbook-pro-2019.jpg" alt="Foto Macbook pro">
        <div class = "contenedor-detalles-producto">
        <div class="icono-truck"><i class="fas fa-truck"></i></div>
        <p>$230.000</p>
        <p class = "descuento-productos">20% OFF</p>
        <h4>Macbook Pro 2019</h4>
    </div>
</article>

<article class = "producto-main">
        <img src="/images/img-samsung-galaxy-s10.jpg" alt="Foto Samsung Galaxy">
        <div class = "contenedor-detalles-producto">
        <div class="icono-truck"><i class="fas fa-truck"></i></div>
        <p>$70.500</p>
        <p class = "descuento-productos">15% OFF</p>
        <h4>Teléfono móvil Samsung Galaxy S10</h4>
    </div>
</article>

<article class = "producto-main">
        <img src="/images/img-tv-samsung-smart.jpg" alt="Foto SmartTV Samsung 43">
        <div class = "contenedor-detalles-producto">
        <div class="icono-truck"><i class="fas fa-truck"></i></div>
        <p>$34.000</p>
        <p class = "descuento-productos">5% OFF</p>
        <h4>SmartTv Samsung 43"</h4>
    </div>
</article>
</section>
</main>

<!-- Footer -->

<footer class="footer">
    <br>
    <i class="fas fa-credit-card"></i>
    <br>
<article class = "articulos-footer">
    <div><h4>Pagá con tarjeta o en efectivo</h4>
        Con MercadoLiebreCash tenés cuotas sin interés con tarjeta o efectivoen puntos de
        pago. ¡Y siempre es seguro!
    </div>
</article>
    <br>
    <i class="fas fa-gift"></i>
    <br>
<article class = "articulos-footer">
    <div><h4>Envío gratis desde los $ 2.500</h4>
        Solo por estar registrad@ en MercadoLiebre tenés envíos gratis en miles de
        productos. Es un beneficio de MercadoPuntos.
    </div>
</article>
    <br>
    <i class="fas fa-user-shield"></i>
    <br>
<article class = "articulos-footer">
    <div>
        <h4>Seguridad, de principio a fin</h4>
        ¿No te gusta? ¡Devolvelo! En MercadoLiebre no hay nada que no puedas hacer
        porque estás siempre protegid@.
    </div>
</article>
    <br>
    <div>Copyright © 1999-2019 MercadoLiebre S.R.L.</div>
</footer> 
</body>
</html>