<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MercadoLiebre - Franco Novara</title>
    <link href="css/styles.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
</head>
<body>

 <!-- Encabezado -->
 <header class="header">
    <img class = "mercado-liebre-logo" src = "/images/logo-mercado-liebre.svg", alt = "logo de Mercado Liebre">

    <div>
    <input class= "barra-busqueda" type="search" name="buscador" placeholder="Buscar productos, marcas y más."><i
    class="icono-busqueda fas fa-search"
></i>
    </div>
    
    <p><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</p>
<nav>

    <!-- Barra de navegación -->
<div class = "barra-navegacion">
    <ul>
        <li><a href="/ofertas">Ofertas</a></li>
        <li><a href="/tiendas-oficiales">Tiendas Oficiales</a></li>
        <li><a href="/vender">Vender</a></li>
        <li><a href="/ayuda"> Ayuda</a></li>
    </ul>
    <ul>
        <li><a href="/register">Creá tu cuenta</a><i class="far fa-address-card"></i></li>
        <li><a href="/login">Ingresá</a><i class="fas fa-sign-in-alt"></i></li>
        <li>Mis compras<i class="fas fa-shopping-basket"></i></li>
    </ul>
</div>
</nav>

<div class = "boton-menu">
<i class="header-menu fas fa-bars"></i>
</div>

</header>

<br>

<main>

    <form action="index.html" class="login" method="">
        


        <input class="login-input" type="text" name="password" placeholder="Nombre de usuario">
        <br>
        <input class="login-input" type="password" name="password" placeholder="Ingresá tu contraseña" required>

        <button class="login-enviar" type="submit">Enviar</button>
            
        


    </form>

    </main>

<!-- Footer -->

<footer class="footer">
    <br>
    <i class="fas fa-credit-card"></i>
    <br>
<article class = "articulos-footer">
    <div><h4>Pagá con tarjeta o en efectivo</h4>
        Con MercadoLiebreCash tenés cuotas sin interés con tarjeta o efectivoen puntos de
        pago. ¡Y siempre es seguro!
    </div>
</article>
    <br>
    <i class="fas fa-gift"></i>
    <br>
<article class = "articulos-footer">
    <div><h4>Envío gratis desde los $ 2.500</h4>
        Solo por estar registrad@ en MercadoLiebre tenés envíos gratis en miles de
        productos. Es un beneficio de MercadoPuntos.
    </div>
</article>
    <br>
    <i class="fas fa-user-shield"></i>
    <br>
<article class = "articulos-footer">
    <div>
        <h4>Seguridad, de principio a fin</h4>
        ¿No te gusta? ¡Devolvelo! En MercadoLiebre no hay nada que no puedas hacer
        porque estás siempre protegid@.
    </div>
</article>
    <br>
    <div>Copyright © 1999-2019 MercadoLiebre S.R.L.</div>
</footer> 
</body>
</html>